# Today's Agenda
> ### What are different Operators Available in Python?
> ### What is Conditional Statement?
> ### What are the conditional statements available in Python?
> ### How to use Operators in Conditional Statement?

## What is operator?
- Operators are used to perform operations on variables and values.

In [ ]:
# we use the + operator to add together two values
print(10+20)

30

## Types of Operators

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

## Arithmetic Operators
- #   +, - , /, %, *

In [ ]:
print(5+4)

9

In [ ]:
print(9-6)

3

In [ ]:
print("a"+"b") # Concatination when it is string addition

ab

In [ ]:
print("a"+4) # type cast will not allow between string and numeric

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("a"+"4") # here "4" is a string pleae make a note

a4

In [ ]:
print("a" * 4)

aaaa

In [ ]:
#for division, it will return float datatype
print(10/2)

5.0

In [ ]:
#modulo operator returns the reminder
print(10%2)

0

In [ ]:
#floor division   //

print(10//2)  #when both the values are int, it returns integer

5

In [ ]:
print(10.0//2) #if any of the value is float, then in return i will be getting float

5.0

In [ ]:
#floor and ceil
#floor - accepts numbers with decimal as parameter and returns integer which is smaller than itself
#ceil - accepts numbers with decimal as parameter and returns integer which is greater than itself

import math
print(math.floor(14.2))

14

In [ ]:
print(math.floor(14.6))

14

In [ ]:
print(math.ceil(14.6))

15

In [ ]:
print(math.ceil(21.1))

22

## Comparison or Relational operators 
- >, >=, <, <=

In [ ]:
print(3<2)

False

In [ ]:
print(4>=4)

True

In [ ]:
#True - 1
#False - 0
print(True + True)

2

In [ ]:
print(4<=6)

True

### Equality  (==, !=) # to check whether given two values equal or not

In [ ]:
3 ==4

False

In [ ]:
3 !=4

True

In [ ]:
x = 3
y= 3
x==y

True

## Logical operators 
- (and/or/not)

In [ ]:
x = 4
y = 10

print(x>5 and y>4)

False

In [ ]:
z = 3
print(x<5 and y>4 and z>1)

True

In [ ]:
print(x<5 or y>4 and z>1)

True

In [ ]:
print(x<5 or y<4)

True

In [ ]:
print(x<5 or y>4 and z>5)

True

In [ ]:

print(x<5 or y>4 and z>5)

True

## Identity Operators

> Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

- is
- is not

In [ ]:
x = 4
y = 4

x == y

True

In [ ]:
x is y

True

In [ ]:
l1 = [1,2,3]
l2 = [1,2,3]

In [ ]:
l1 is l2

False

In [ ]:
l1[2] is l2[2]

True

## membership operators

> Membership operators are used to test if a sequence is presented in an object:

- in  
- not in

In [ ]:
a = ["sar", "tom"]

"tom" in a

True

In [ ]:
"a" in a

False

In [ ]:
b = " ny city is in india"

In [ ]:
"in" not in b

False

## Bitwise Operators


![image.png](attachment:image.png)

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

In [ ]:
c = a & b;        # 12 = 0000 1100
print("Line 1 - Value of c is ", c)
# returns 1 if both the bits are one else 0

Line 1 - Value of c is  12

In [ ]:
c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)
# returns 1 if either of the bits are one else 0

Line 2 - Value of c is  61

In [ ]:
c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

Line 3 - Value of c is  49

In [ ]:
c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

Line 4 - Value of c is  -61

In [ ]:
c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

Line 5 - Value of c is  240

In [ ]:
c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 6 - Value of c is  15

# Python Conditional Statements
> Conditionals help us to make decisions. They excecute blocks of code based on the truthfullness of some statements. The if  elif  else keywords actually help us to write conditionals

- If
- If-else
- Elif
- Nested if and if-else
- Elif ladder

# Python Indentation
A simple if block -

    if (number < 0):
        printf("You entered ", number)

In Python, the code blocks are defined by a set of common or consistent number of spaces. This is called as **Python Indentation.**

 The block scope will end at the first unindented line.

The best practice is to use **Tab** key.

# 1. IF
- The if keyword is used to check for a statement and execute the subsequent block of code based on the truthfullness of the statement. if statement contains the starter condition. As such, a condition has to be always given to the if block


Syntax:

if statement:
    block_of_code

In [ ]:
i = 5 # unindented line, starting from the beggining of the code cell

if(i < 10): # if block header: 'if' keyword - (condition that evaluates to a boolean value) - ends with ':'
    print('Inside the IF block')
    print(i)
    
print('This is outside the IF block')

Inside the IF block
5
This is outside the IF block

In [ ]:
i = 15 # unindented line, starting from the beggining of the code cell

if(i < 10): # if block header: 'if' keyword - (condition that evaluates to a boolean value) - ends with ':'
    print('Inside the IF block')
    print(i)
    
print('This is outside the IF block')

This is outside the IF block

### Boolean values are also represented as - True as 1 and False as 0

In [ ]:
if(3-2):
    print('Inside IF')
    
if(5-2):
    print('Inside IF')

if(3-5):
    print('Inside IF')

Inside IF
Inside IF
Inside IF

In [ ]:
if(3-3):
    print('Inside IF')
    
print('Outside IF')

Outside IF

### Operators in IF

In [ ]:
# Using Membership Test

mylist1 = [25,35,65,55]
i = 65

if(i in mylist1):  #remember membership operator 
    print(i)

65

In [ ]:
if(75 >= 35):
    print('Result: Pass')

Result: Pass

### Question: WAP for passing the exam if the students meets the cutoff using 'if' condition

In [ ]:
cutoffscore = 35
marksscored = input('Enter the Marks:')

if(int(marksscored) >= cutoffscore):
    print('Result: Pass')
    
    
cutoffscore = 35
marksscored = int(input('Enter the Marks:'))

if(marksscored >= cutoffscore):
    print('Result: Pass')

Enter the Marks:45
Result: Pass
Enter the Marks:50
Result: Pass

# 2. IF-ELSE

### using IF-ELSE

In [ ]:
cutoffscore = 35
marksscored = int(input('Enter the Marks:'))

if(marksscored >= cutoffscore):
    print('Result: Pass')
else:
    print('Result: Fail')

## Check for the gien number is even or odd

In [ ]:

num = int(input('Enter a number: '))

if num%2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter a number: 56
Number is even

In [ ]:
# Method -2:
# write a code to check if a given number is even or not
num = int(input('Enter a number: '))

# if_block if if_condition else else_block
print('Number is even') if num%2 == 0 else print('Number is odd')

Enter a number: 56
Number is even

**Note: The short-hand notations will work only if the block of code is a single line code**

# 3. ELSE
- All the cases which aren't satisfied using the if statement are collected in the else block given by the else keyword. else block is the terminal block where all the edge cases are collected. As such, no statement has to be given when we are using the else

In [ ]:
cutoffscore = 35
distinctioncutoff = 75 
marksscored = int(input('Enter the Marks:'))

# 3 Scenarios
# - Pass
# - Pass with Distinction
# - Fail


if(marksscored < cutoffscore):
    print('Result: Fail')
elif(marksscored >= distinctioncutoff):
    print('Result: Pass with Distinction')
else:
    print('Result: Pass')

Enter the Marks:90
Result: Pass with Distinction

# 4. Nested if & if-else

In [ ]:
cutoffscore = 35
distinctioncutoff = 75 
marksscored = int(input('Enter the Marks:'))

if(marksscored>cutoffscore):
    print('Result: Pass')
    if(marksscored>=distinctioncutoff):
        print('Result: Pass with Distinction')

Enter the Marks:90
Result: Pass
Result: Pass with Distinction

### Problem on Tax Payment

In [ ]:
taxable_income = float(input('Enter the taxable income:'))

# taxable_income = taxable_income/100000

# 0 - 2.5 - 0%
# 2.5 - 5 - 5%
# 5. - 10 - 20%
# 10 or above - 30%

if(taxable_income>=10): 
    print('Slab is{} and Tax Payable is {}'.format('30%',taxable_income*0.3))    
else:
    if(taxable_income<10 and taxable_income>=5):
        print('Slab is {} and Tax Payable is {}'.format('20%',taxable_income*0.2)) 
    else:
        if(taxable_income<5 and taxable_income>=2.5):
            print('Slab is {} and Tax Payable is {}'.format('5%',taxable_income*0.05))
        else:
            print('Slab is {} and Tax Payable is {}'.format('0%',0))

Enter the taxable income:5.5
Slab is 20% and Tax Payable is 1.1

# 5. Elif Ladder
- The `elif` keyword is used to check for those conditions which weren't done so by the previous statements. As a rule of thumb, if we're checking for n number of outcomes(n > 2), we'll be having n-2 number of elif statements

In [ ]:
taxable_income = float(input('Enter the taxable income:'))

# taxable_income = taxable_income/100000

# 0 - 2.5 - 0%
# 2.5 - 5 - 5%
# 5. - 10 - 20%
# 10 or above - 30%

if(taxable_income>=10): 
    print('Slab is {} and Tax Payable is {}'.format('30%',taxable_income*0.3)) 
elif(taxable_income<10 and taxable_income>=5):
    print('Slab is {} and Tax Payable is {}'.format('20%',taxable_income*0.2)) 
elif(taxable_income<5 and taxable_income>=2.5):
    print('Slab is {} and Tax Payable is {}'.format('5%',taxable_income*0.05))
else:
    print('Slab is {} and Tax Payable is {}'.format('0%',0))

Enter the taxable income:1.9
Slab is 0% and Tax Payable is 0

### Write a program which will accept a word from the user and is going to check whether the word starts with a vowel or not

### Write a program which will accept a word and a number from the user. Check if the word starts with a vowel and the number is even and write appropriate conditions accordingly